body{
width:600px;
margin:auto;
}
.header{
width:600px;
height:191px;
background:url(images/1.jpg);
}
.header_1{
margin:0 auto auto 150px;
height:50px;
width:200px;
}
h1{
text-indent:40px;
font-family:cursive;
font-size:40px;
color:pink;
}
#caption{
text-align:center;
width:600px;
height:50px;
color:yellow;
}
h5{
font-family:normal;
font-size:20px;
color:yellow;
}
#menu{
width:600px;
height:50px;
margin:50px auto 0 0px;
text-indent: 30px;
font-size: 15px;
}
#menu ul li{
display:inline;
padding:40px;
}
#menu ul li a{
text-decoration:none;
color:black;
}
#menu ul li a:hover{
text-decoration:underline;
}
.content{
clear:both;
width:600px;
height:500px;
background:yellow;
overflow: hidden;
}
.top{
width:600px;
height:250px;
}
.object1{
width:300px;
height:250px;
background-image:url(images/n1.jpg);
display:inline;
float:left;
}
.object2{
width:300px;
height:250px;
float:right;
background-image:url(images/1.jpg);
display:inline;
}
.bottom{
width:600px;
height:250px;
}
.object3{
width:300px;
height:250px;
background-image:url(images/nature3.jpg);
display:inline-block;
float:left;
}
.object4{
width:300px;
height:250px;
float:right;
background:#999;
display:inline-block;
}
.button a:hover{
text-decoration:underline;
color:black;
}
p {
color:black;
}
.footer{
clear: both;
width:600px;
height:100px;
background:#ccc;
overflow:hidden;
}
.footer menu{
width:600px;
height:50px;
display: inline;
}
 ul li{
display:inline;
padding:40px;
}
 ul li a{
text-decoration:none;
color:black;
}
 ul li a:hover{
text-decoration:underline;
}
#copyright{
font-size:10px;
color:black;
text-align: center;
}
label{
	position: absolute;
	margin:10px 10px;
}
.text1{
	position: relative;
	margin-left: 150px;
	margin-top: 10px;
}